JWT_SECRET=""
NODE_ENV="development"
PORT=4000

# Admin/Seller credentials
SELLER_EMAIL="admin@example.com"
SELLER_PASSWORD="yourpassword"

# MongoDB connection string
MONGODB_URI="mongodb://localhost:27017"

# Cloudinary config
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Stripe Secret Key
STRIPE_SECRET_KEY=""
